@page
@model IndexModel

<a class="btn btn-primary btn-lg btn-block" asp-page="./Game">Start a new game</a>
<a class="btn btn-primary btn-lg btn-block" asp-page="./LoadGame">Load and existing game</a>